{% include "views/header.twig" %}

    <div id="content">
        <h2>AJ Portfolio - <a href="/wp-login.php">Login to admin</a></h2>


        </br>
        <h2>Project/s</h2>

        <p>
            <b>All</b> - <a href="/wp-json/wp/v2/projects/">/wp-json/wp/v2/projects/</a>
        </p>


        </br>
        <h2>Experience/s</h2>
        
        <p>
            <b>All</b> - <a href="/wp-json/wp/v2/experiences/">/wp-json/wp/v2/experiences/</a>
        </p>
        

        </br><!-- Skills -->
        <h2>Skill/s</h2>
        
        <p>
            <b>All</b> - <a href="/wp-json/wp/v2/skills/">/wp-json/wp/v2/skills/</a>
        </p>
    </div>

{% include "views/footer.twig" %}